// Colors
$color-bg-light: #ffffff;
$color-bg-dark: #000000;
$color-text-light-bg: #000000;
$color-text-dark-bg: #ffffff;
$color-highlight-bg: #F7F7F7;

// Fonts
$font-family: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-title-lg: 34px;
$font-size-title-md: 20px;
$font-weight-base: 600;
$line-height-base: 150%;

// Screen sizes
$breakpoint-md: 768px;
