@use 'normilize';
@use 'variables' as *;

@font-face {
  src: url('/assets/fonts/Inter.ttf') format('truetype');
  font-family: 'Inter';
}

body {
  font-family: $font-family;
}

#__nuxt {
  height: 100dvh;
}

// Base showcase
.base-showcase {
  gap: 32px;

  &, &__description {
    display: flex;
    flex-direction: column;
  }

  &__description {
    gap: 8px;
  }

  &__title {
    color: $color-text-light-bg;
    font-size: $font-size-title-lg;
    font-weight: $font-weight-base;
    line-height: 110%;
  }

  &__subheading {
    color: #454545;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: normal;
  }
}
